.sc-promo {
    background: $c-light-blue;
    padding: 40px 12px;
    h2 {
        color: $c-primary;
        font-weight: 500;
    }
    .text-md-end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
