.md-product-list__count {
    color: $c-secondary;
    font-weight: 400;
    font-size: 16px;
    display: block;
}

.md-product-list-item {
    position: relative;
    border-color: $c-border;

    &.card {
        border-radius: 16px;
        border: none;
    }

    &__badges {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            top: 16px;
            left: 32px;
        }

        .md-badge {
            margin-bottom: 8px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
        }
    }

    &__options {
        position: relative;
        margin-bottom: -40px;
        transform: translateY(-40px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__body {
        padding: 32px;

        .card-text {
            margin-bottom: 2rem;
        }
    }
}
