.md-commercial {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid $c-border;
    .col-auto {
        img {
            padding: 5px 0;
            max-height: 50px;
            width: auto;
        }
    }
}