.md-product-list__count {
    color: $c-secondary;
    font-weight: 400;
    font-size: 16px;
    display: block;
}

.md-product-list-item {
    position: relative;
    border-color: $c-border;

    &.card {
        border-radius: 16px;
        border: 1px solid $c-border;

        @media screen and (min-width: $bp-mobile) {
            border: none;
        }
    }

    &__badges {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            top: 16px;
            left: 32px;
        }

        .md-badge {
            margin-bottom: 8px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
        }
    }

    &__options {
        position: relative;
        margin-bottom: -40px;
        transform: translateY(-40px);
        display: flex;
        align-items: center;
        justify-content: center;

        .form-select {
            border-color: $c-gray-400;
            border-radius: 4px;
        }
    }

    &__body {
        @media screen and (min-width: $bp-mobile) {
            padding: 32px;
        }

        .card-title {
            @media screen and (max-width: $bp-mobile) {
                font-size: 16px;
            }
        }

        .card-text {
            @media screen and (min-width: $bp-mobile) {
                margin-bottom: 2rem;
            }
        }

        .md-number-picker {
            @media screen and (max-width: $bp-mobile) {
                display: none;
            }
        }

        .h4 {
            @media screen and (max-width: $bp-mobile) {
                font-size: 16px;
            }
        }

        .text-success,
        .text-secondary {
            @media screen and (max-width: $bp-mobile) {
                font-size: 14px;
            }
        }

        .add-to-cart {
            @media screen and (max-width: $bp-mobile) {
                width: 100%;
                padding: 8px;
                display: flex;
                justify-content: center;
                gap: 8px;
            }
        }
    }
}
