.is-edit-mode {
    .md-tabs {
        .tab-content {
            .pb-tab-title {
                display: block;
            }
        }
    }
}

.md-tabs {
    .tabsBox {
        .nav-item {
            .nav-link {

            }
        }
    }

    .tab-content {
        .pb-tab-title {
            display: none;
            padding: 15px 0;
            border: 1px dashed red;

            h3 {
                font-size: 15px;
                color: red;
            }
        }

        .column-content {
            min-height: 100px;
            padding: 20px 0;
        }
    }
}

.nav-tabs {
    border: none;

    @media screen and (max-width: $bp-mobile) {
        border-bottom: 1px solid $c-border;
    }

    .nav-item {
        .nav-link {
            padding: 16px 32px;
            color: $c-primary;
            border-bottom: 1px solid $c-border;

            @media screen and (max-width: $bp-mobile) {
                padding: 8px 16px;
            }

            &.active {
                color: $gray-700;
                border-color: $c-border;
                border-bottom: 1px solid $nav-tabs-link-active-bg;
            }
        }
    }
}