.md-product-gallery {
    position: relative;
    .splide {
        // images
        &:nth-child(1) {
            padding: 6px;
            border-radius: 8px;
            border: 1px solid $c-border;
            overflow: hidden;
        }
        //thumbnails pagination
        &:nth-child(2) {
            position: unset;
            margin-top: 1rem;
            .splide__track {
                .splide__list {
                    .splide__slide {
                        border-radius: 8px;
                        border: 1px solid $c-border;
                        overflow: hidden;
                        padding: 6px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .splide__arrows {
        position: absolute;
        z-index: 1;
        top: calc(50% - 25px);
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
        .splide__arrow--prev,.splide__arrow--next {
            width: 50px;
            height: 50px;
            background: $c-white;
            border-radius: 99px;
            border: 1px solid $c-border;
            padding: 0;
            margin: 0;
            svg {
                width: 18px;
                height: 18px;
                path {
                    fill: $c-primary;
                }
            }
        }
        .splide__arrow--prev {
            transform: rotate(180deg);
        }
    }
}
