@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: 2rem;

    @media (min-width: $bp-mobile) {
        font-size: 2.5rem;
    }
}
h2 {
    font-size: 1.75rem;
}
h3 {}
h4 {}
h5 {}
h6 {}

p {}

b {}
strong {}
i {}
em {}
mark {}
del {}
small {}
sub {}
sup {}

hr {}

center {}

.c-secondary {
    color: $c-secondary;
}
