@charset "UTF-8";

//WJ DIR
$wj-install-name : "eshop";
$wj-template-name : "bootstrap-eshop";
$wj-assets : "/templates/#{$wj-install-name}/#{$wj-template-name}/dist/";
$wj-images : "#{$wj-assets}assets/images/";
$wj-fonts : "#{$wj-assets}assets/fonts/";

//BREAKPOINT
$bp-dinosaur : 576px;
$bp-mobile : 768px;
$bp-tablet : 992px;
$bp-laptop : 1200px;
$bp-desktop : 1600px;

//FONTS
$f-primary: "Open Sans", sans-serif;

//BASIC COLOR PALLETE
$c-selection-bg: DodgerBlue;
$c-body: var(--bs-dark);
$c-primary: var(--bs-primary);
$c-primary-50: #e7f1ff;
$c-primary-200: #9fc6ff;
$c-secondary: var(--bs-secondary);
$c-light: var(--bs-light);
$c-success: var(--bs-success);
$c-danger: var(--bs-danger);
$c-border: #DEE2E6;
$c-white: #FFF;
$c-box-bg: #E9ECEF;
$c-gray-100: var(--bs-gray-100);
$c-gray-200: var(--bs-gray-200);
$c-gray-300: var(--bs-gray-300);
$c-gray-400: var(--bs-gray-400);
$c-gray-700: var(--bs-gray-700);
$c-gray-800: var(--bs-gray-800);
$c-gray-900: var(--bs-gray-900);
$bs-1: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
$accordion-border-color: var(--bs-accordion-border-color);
$accordion-border-width: var(--bs-accordion-border-width);
$c-blue-100: #eaf1fd;
$c-nav-menu: #f9faff;
$c-vertical-nav-submenu: #f8f9fb;
$c-nav-link: #404a5c;
$c-gray-base: #ccc;
$c-nav-link-hover: #f2f2f2;
$c-dropdown-link: #555;
$c-light-blue: #E3F1FF;
$c-light-yellow: #FFF3E3;
$c-light-red: #FFE3E3;
$c-light-purple: #E5E3FF;


//others
$t-left: left 0.3s ease-in-out;

// components color pallete

//WIDTH
//$w-element-name:1px;

//HEIGHT
//$h-element-name:1px;

//PADDING
//$p-element-name:1px;

//MARGIN
//$m-element-name:1px;

//Z-INDEX
//$z-element-name: 1;
