

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

//Import SplideJs
@import "@splidejs/splide/src/css/core";
//@import "@splidejs/splide/src/css/themes/sea-green";

//HELPERS
@import "2-helpers/variables";
:root {
    --bs-heading-color: var(--bs-dark);
    --bs-card-border-color: #DEE2E6;
    --btn-border-radius: 12px;
}
@import "2-helpers/functions";
@import "2-helpers/mixins";
@import "2-helpers/placeholders";

//BASE
@import "3-base/font-face";
@import "3-base/body";
@import "3-base/selection";
@import "3-base/grid";
@import "3-base/typography";
@import "3-base/multimedia";
@import "3-base/form";
@import "3-base/link";
@import "3-base/list";
@import "3-base/table";
@import "3-base/address";
@import "3-base/blockquote";
@import "3-base/code";
@import "3-base/img";
@import "3-base/buttons";
@import "3-base/tabs";
@import "3-base/modal";

//LAYOUT
@import "4-layout/ly-page-wrapper";
@import "4-layout/ly-header";
@import "4-layout/ly-content-wrapper";
@import "4-layout/ly-content";
@import "4-layout/ly-article";
@import "4-layout/ly-sidebar";
@import "4-layout/ly-footer";

//MODULES
@import "5-modules/md-breadcrumb";
@import "5-modules/md-badge";
@import "5-modules/md-navigation";
@import "5-modules/md-browser-support";
@import "5-modules/md-debug-info";
@import "5-modules/md-header-top";
@import "5-modules/md-header-main";
@import "5-modules/md-commercial";
@import "5-modules/md-social";
@import "5-modules/md-product-list-description";
@import "5-modules/md-product-list-categories";
@import "5-modules/md-product-list-ranking";
@import "5-modules/md-product-list-item";
@import "5-modules/md-product-detail-benefits";
@import "5-modules/md-number-picker";
@import "5-modules/md-basket";
@import "5-modules/md-basket-steps";
@import "5-modules/md-basket-summary";
@import "5-modules/md-radio-options";
@import "5-modules/md-pickup-points";
@import "5-modules/md-pickup-types";
@import "5-modules/md-collapse";
@import "5-modules/md-product-list-filter";
@import "5-modules/md-range-slider";
@import "5-modules/md-banner";
@import "5-modules/md-info-card";
@import "5-modules/md-accordion";
@import "5-modules/md-card";
@import "5-modules/md-modal";
@import "5-modules/md-section-navigator";
@import "5-modules/md-share-links";
@import "5-modules/md-vertical-sidenav";
@import "5-modules/md-carousel";
@import "5-modules/md-product-gallery";

//PAGES
@import "6-pages/pg-homepage";
@import "6-pages/pg-subpage";

//SECTIONS
@import "7-sections/sc-header";
@import "7-sections/sc-promo";
@import "7-sections/sc-breadcrumb";
@import "7-sections/sc-product-list";
@import "7-sections/sc-basket-steps";
@import "7-sections/sc-blog-detail";

//VIEWS
@import "8-views/no-js";
@import "8-views/no-cookies";
@import "8-views/no-touchevents";
@import "8-views/no-pointerevents";
@import "8-views/browser-type";
@import "8-views/device-type";
@import "8-views/high-contrast";
@import "8-views/print";
@import "8-views/webjet-editor";
@import "8-views/webjet-mail";

// HOTFIX
@import "hotfix";
