@charset "UTF-8";

.ly-header {
    position: fixed;
    background: $c-white;
    z-index: 999;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    section {
        nav.navbar {
            padding: 13px 24px;

            p {
                margin-bottom: 0px;
            }
        }
    }
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.navbar {
    &-brand {
        img {
            max-width: 200px;
        }
    }
    & > li {
        position: relative;
    }
}

ul.navbar-nav.other-languages {
    flex-direction: row;
    li a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

body.is-edit-mode .ly-page-wrapper nav.navbar {
    div.pb-col-12 {
        height: 100%;
        div.column-content {
            height: 100%;
        }
    }
}
